:root{
    --title-color: #321775;
    --primary-color:#34cb79;
}

* {
    margin:0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing:antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 ,h6 {
    color: var(--title-color);
    font-family: 'ubuntu', sans-serif;
}

#page-home h1{
    margin: 100px;
    text-align: center;
}

#page-home h2{
    margin-left: 250px;
    text-align:left;
}

#page-home .autor{
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home img{
    margin-left: 30px;
    border-radius: 50%
}

#page-home p{
    margin: 30px;
    text-align:justify;
    color: black;
    font-weight: 550;
}

iframe{
    margin-left: 400px;
    margin-top: 200px;
}