<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/6644logoFinal.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/main.css">


    <title>e-Nursing - E-learning para profissionais da saúde</title>
</head>

<body>

                <div id="hero-page">

                    <div class="parallax">

                        <h1>
                            O objetivo é levar conhecimento quanto à manejo de pessoas com agitação psicomotora
                            com comportamento agressivo.
                        </h1>
                    </div>
                </div>

                <div id="autor-objetivo">
                    <ul>
                        <li>
                            <h2>Amanda Menon</h2>
                            <h4>Autora </h4>
                            <img src="/public/assets/amanda2svg.svg"  class="autor1" alt="Amanda Menon" 
                                style="border-radius: 50%;">
                            <div class="autor">

                                <p>
                                    Psicóloga. Mestranda da Universidade de São Paulo. Pós Graduada em Excelência e
                                    Qualidade Operacional Green Belt. Especialista em Impactos da Violência na Saúde e
                                    Saúde Pública com foco na Estratégia Saúde da Família. Atualmente, coordenadora do
                                    Centro de Atenção Psicossocial e Residências Terapêuticas no município de São Paulo
                                    com parceria entre Secretaria Municipal de Saúde e Sociedade Beneficente Israelita
                                    Brasileira Albert Einstein. Docente da faculdade de medicina e curso técnico de
                                    enfermagem pela mesma Instituição.
                                </p>
                            </div>
                        </li>
                        <li>
                            <h2>Profa. Dra. Maria do Perpetuo S.S. Nóbrega</h2>
                            <h4>Autora </h4>
                            <img src="/public/assets/MariaSocorro.png" alt="Maria" width="45%"
                                style="border-radius: 50%;">
                            <div class="autor">
                                <p>
                                    Docente do Departamento de Enfermagem Materno-Infantil e Psiquiátrica da Escola de Enfermagem
                                    da Universidade de São Paulo. Concluiu Graduação em Enfermagem pela Universidade Federal da Paraíba (1992),
                                    Especialização em Enfermagem Saúde Mental e Psiquiátrica (1995); Mestrado (2001) e Doutorado (2007)
                                    pela Universidade Federal de São Paulo/UNIFESP. Possui pós-doutorado (2010) na área de Adições pelo
                                    Centre for Addiction and Mental Health (CAMH) - Canadá. 
                                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4718161Y6" target="_blank">Lattes</a>
                                
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="objetivo">
                    
                    <img src="/public/assets/target.svg" alt="" class="alvo">
                    <h2>
                        Objetivo do site
                    </h2>
                    <p>
                        Esse website pretende ser um meio de consulta 
                        rápida para apoiar o técnico de enfermagem a atuar 
                        junto à pessoas apresentando quadro de agitação psicomotora
                        com comportamento agressivo de forma assertiva.
                    
                    </p>
                </div>

                <div id="conceito">
                            <h2 style="text-align: center;">
                                Conceito
                            </h2>

                           
                              
                            <div class="conceito">
                                <img src="/public/assets/Marcos.svg" class="medium">
                                <div class="texto-conceito">
                                <p>
                                    Pinto (2014) reforça que as características da agitação psicomotora envolvem
                                    atividade motora e/ou verbal aumentado/ impropria e repetitiva, inquietude,
                                    irritação, hostilidade, excitação ao responder estímulos. Pode evoluir de
                                    comportamentos hostis até agressividade (Jacintho, Stella, Laurito, 2012).</p> 
                                    
                                    <p>Pode ou não ter comportamento agressivo, este identificado como ato intencional dirigido a
                                    objetos e/ou pessoas que cause danos mentais e/ou físicos por meio de manifestações
                                    agressivas verbais e físicas. O comportamento agressivo é multicausal, interagindo
                                    fatores biológicos, sociais e psiquiátricos (Pinto, 2014).</p>
                                    <p class="pfinal">De acordo com Mantovani et al (2010) a agitação psicomotora com agressividade são
                                    manifestações psicopatológicas complexas, podem fazer parte de diversas condições
                                    clínicas. não sendo uma singularidade de transtorno mental específico, por isso
                                    envolve uma avaliação ampliada;</p>
                                </div>
                                </div>
                </div>

                <div id="conceito">
                    
                    <div class="conceito">
                        
                        <div class="texto-conceito">
                        <p>
                            <b>Agitação:</b> A agitação é um estado de inquietação motora excessiva associada á tensão mental , observada por meio de manifestações como: tensão muscular, postura provocativa e ameaçadora, hiperatividade, impaciência, desconfiança, e entre outras.</p> 
                            
                            <p>
                                <b>Agressividade:</b> é definida como ato intencional ou não que pode causar dano físico ou psicológico ou sexual em outra pessoa (Hetero-agressividade ou comportamento hetero-lesivo) ou a si próprio (Auto-agressividade ou comportamento auto-lesivo);</p>
                            <p>
                                <b>Violência:</b> é definida como ato agressivo que cause ou tem potencial para causar dano físico, psicológico ou sexual em terceiros ou a si próprio. Definida também, como força física, abuso, forma de anulação, ou constrangimento sobre uma pessoa para obrigá-la a fazer ou deixar de fazer um ato qualquer. Pode estar associada tanto à agressividade verbal, ou física.</p>
                        </div>
                    </div>
                </div>

                <div id="quadros">
                    
                    <div class="conceito">
                        
                        <div class="texto-conceito">
                        <h1> A agitação com ou sem comportamento agressivo pode aparecer em:</h1>
                      <img src="/public/assets/quadro.png" alt="">      
                           
                        </div>
                    </div>
                </div>
                        
                <div id="tabela">

                    <p>A agitação com ou sem agressividade é responsável por 52% de todas as emergências psiquiátricas no mundo, e aproximadamente 24% das emergências psiquiátricas no Brasil, portanto nortear a avaliação e a conduta de prevenção de danos à pessoas, familiares e equipe é de fundamental relevância. </p>
                    <p>Na maioria das vezes é difícil prever o comportamento agitado com ou sem agressividade, embora existem fatores identificados como preditores , conforme abaixo:</p>
                            
                            <div class="preditores">
                                <img src="/public/assets/Medico.svg" class="medico">
                                

                                <img src="/public/assets/tabela1.png" class="tabela"
                                    alt="TabelaPrediletoresDeComportamentoViolentoParaAdultos">
                            </div>
                </div>
                
                
                
                <div id="outrosSintomas">
                                
                                <h3>
                                    Didaticamente, as condutas devem ser organizadas de quatro formas:  manejo ambiental, manejo comportamental , manejo farmacológico e manejo físico/ mecânico.
                                </h3>
                                <div class="outroSistemaManejo">
                                <img src="/public/assets/Roger.svg" class="roger">
                                <ul class="manejo">
                               
                                    <li>
                                        <strong>Manejo ambiental:</strong><br>Preparação do ambiente para potencializar a segurança da pessoa com agitação psicomotora e a equipe. Trata-se de  organização no ambiente que pode contribuir no controle dos impulsos agressivos e evitar a progressão do comportamento agressivo;
                                    </li>
                                    <li>
                                        <strong>Manejo comportamental:</strong><br>Atitudes e comportamentos do profissional que podem contribuir no manejo adequado e seguro de pessoas com agitação psicomotora com ou sem agressividade.
                                    </li>
                                    <li>
                                        <strong>Manejo farmacológico:</strong><br>Uso de medicação para tranquilizar a pessoas com agitação psicomotora, o mais rápido possível.
                                    </li>
                                    <li>
                                        <strong>Manejo Físico/ mecânico:</strong><br>Última conduta a ser utilizada. Trata-se de restrição de membros (fisicamente ou mecanicamente com faixas de tecido ou couro adequadas) da pessoa com agitação psicomotora com risco eminente de heteroagressão ou autoagressão.
                                    </li>

                                </ul> 
                                
                            </div>
                            
                            </div>   
                            <p>
                                O ideal é que a partir do manejo comportamental e ambiental seja possível atuar nos preditores para minimizar a progressão do comportamento agressivo.  Na falha dessas intervenções devemos complementar com o manejo farmacológico e se todas estas medidas não forem suficientes, a contenção física e mecânica deve ser realizada
                            </p>                       
                
                
                   
                <div id="mainTerms">
                    <div class="mainTerms">   
                    <h2>
                        No e-learning abaixo abordaremos  somente manejo ambiental e comportamental.
                        </h2>
                        <h4>
                            O manejo farmacológico e mecânico não serão abordados neste website!
                        </h4>

                        <img src="/public/assets/para_o_video.svg" alt="veja o video" class="para_o_video">
                        <div class="buttonFinal2">
                            <a href="#popup1" class="myButton2">Quero ver o tutorial</a>
                        </div>
                    </div>
                </div>    

                <div class="referencias">
                    <h5>Referências bibliográficas:</h5>
                    <p class="pReferencias">BALDACARA, Leonardo et al . Brazilian guidelines for the management of psychomotor agitation. Part 1. Non-pharmacological approach. Braz. J. Psychiatry,  São Paulo ,  v. 41, n. 2, p. 153-167,  Apr.  2019. Disponível em: https://www.scielo.br/scielo.php?pid=S1516-44462019000200009&script=sci_arttext. Acesso: 10 Fev.2021. https://doi.org/10.1590/1516-4446-2018-0163.</p>
                    <p class="pReferencias">BOTEGA, Neury José (Org.). Prática psiquiátrica no hospital geral: interconsulta e emergência. Porto Alegre: Artemed Editora Ltda, 2002.</p>
                    <p class="pReferencias">DEL-BEN, C. M.; SPONHOLZ-JUNIOR, A.; MANTOVANI, C.; FALEIROS, M. C. de M.; OLIVEIRA, G. E. C. de; GUAPO, V. G.; MARQUES, J. M. de A. Emergências psiquiátricas: manejo de agitação psicomotora e avaliação de risco suicida. Medicina (Ribeirão Preto), [S. l.], v. 50, n. supl.1, p. 98-112, 2017. Disponível em: https://www.revistas.usp.br/rmrp/article/view/127543. Acesso em: 10 fev. 2021. DOI: 10.11606/issn.2176-7262.v50isupl1.p98-112.</p>
                    <p class="pReferencias">MANTOVANI, Célia et al . Manejo de paciente agitado ou agressivo. Rev. Bras. Psiquiatr.,  São Paulo ,  v. 32, supl. 2, p. S96-S103,  Oct.  2010 .   Disponível em: <http://www.scielo.br/scielo.php?script=sci_arttext&pid=S1516-44462010000600006&lng=en&nrm=iso>. Acesso em: 10 fev. 2021. https://doi.org/10.1590/S1516-44462010000600006.</p>
                    <p class="pReferencias">RUBIO-VALERA, M., LUCIANO, J.V., ORTIZ, J.M. et al. Health service use and costs associated with aggressiveness or agitation and containment in adult psychiatric care: a systematic review of the evidence. BMC Psychiatry 15, 35 (2015). Acesso em: 10 fev. 2021. https://doi.org/10.1186/s12888-015-0417-x.</p>
                </div>

                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>Termo de Consentimento Livre e Esclarecido (TCLE) </h2>
                            <a class="close" href="#">&times;</a>
                            <div id="popmake-wrap">
                                <div class="pum-content popmake-content">
                                    
                                    <div class="scrollwrap">
                                        <div class="popupscroll">
                                            <p>Você está sendo convidado para participar voluntariamente do estudo intitulado 
                                                “Website informativo para abordagem de pessoas com agitação psicomotora com comportamento agressivo para técnico de enfermagem” desenvolvida pela mestranda Amanda Menon Pelissoni, sob a supervisão da Profa. Dra. Maria do Perpétuo S.S.Nóbrega. Para você decidir fazer parte dele, precisará saber no que consiste sua participação, bem como das possibilidades de riscos e benefícios.</p>

                                            <p>Se você tiver qualquer pergunta, após ou durante a leitura desse termo, por favor, sinta-se à vontade para entrar em contato com o pesquisador responsável pela condução da pesquisa.</p>
                                            <p>A decisão de fazer parte do estudo é voluntária e você pode recusar-se a participar ou retirar-se do estudo a qualquer momento sem nenhum tipo de consequência na sua relação profissional.</p>
                                            <p>O objetivo dessa pesquisa é desenvolver um website informativo sobre abordagem de pessoas com agitação psicomotora com comportamento agressivo para técnicos de enfermagem, avaliar a usabilidade, linguagem, orientação, informação, estrutura (design), e comunicação do website informativo.</p>
                                            <p>Sua participação implica em responder questões de avalição sobre o website, com tempo estimado de 40 minutos na ferramenta do Google Forms. O Sr(a) poderá sentir-se desconfortável durante a avaliação, uma vez que esta consta de 33 questões. Caso sinta-se cansado (a) durante esse processo, poderá interromper a avaliação e retomar em momento oportuno, uma vez que a ferramenta do Google forms está configurada para ser interrompida à qualquer momento e acessada posteriormente, sem que as respostas já preenchidas sejam perdidas, ou seja, ficarão armazenadas. Os dados coletados serão confidenciais e de uso apenas da pesquisadora, portanto em nenhum momento o Sr(a) será identificado (a), garantindo sua privacidade. </p>
                                            <p>Informo que a presente pesquisa poderá trazer riscos mínimos ao senhor (a), em sua dimensão psíquica, uma vez que, esta pesquisa pode lhe causar desconforto em decorrência do tempo exigido para a leitura e preenchimento do questionário. Caso, aconteça você poderá se retirar da pesquisa no momento que desejar e/ou interromper o preenchimento do questionário  no Google forms.</p>
                                            <p>Os benefícios incluem contribuir para o aumento do conhecimento sobre o assunto estudado, aprimoramento das práticas profissionais de saúde mental e o contato com a tecnologia que poderá ser utilizada futuramente na prática do técnico de enfermagem.</p>
                                            <p>Sua participação é voluntária e você pode retirar seu consentimento ou ainda descontinuar sua participação em qualquer momento, se assim o preferir, sem penalização e/ou prejuízo de qualquer natureza. </p>
                                            <p>Não haverá nenhum custo a você proveniente deste estudo, assim como não haverá qualquer tipo de remuneração pela sua participação. Entretanto, se ocorrer qualquer gasto não previsto nesse termo, você será ressarcido. </p>
                                            <p>Ao aceitar  participar  o(a) Sr(a) mantém seus direitos legais, incluindo o direito de buscar indenização em caso de dano decorrente de sua participação.</p>
                                            <p>Se for de seu interesse, você poderá solicitar, a qualquer momento, informações sobre os resultados realizados nesse estudo.</p>
                                            <p>Você será informado sobre os achados desse estudo, assim que as análises estiverem finalizadas.</p>
                                            <p>A equipe do estudo terá acesso a seus dados, no entanto, seu anonimato é garantido e possíveis publicações cientificas resultantes deste estudo não o (a) identificarão em nenhuma circunstância como participante. Os dados obtidos serão tratados sob estritas condições de confidencialidade.</p>
                                            <p>Em qualquer etapa da pesquisa o Sr(a) poderá entrar em contato com a pesquisadora responsável Mestranda Amanda Menon Pelissoni: Escola de Enfermagem da Universidade de São Paulo, Av. Dr. Enéas de Carvalho Aguiar, 419, Cerqueira César. CEP: 05.403-000 pelo e-mail: amanda.pelissoni@gmail.com. Caso tenha alguma dúvida sobre seus direitos como participante da pesquisa, entre em contato com o Comitê de Ética em Pesquisa (CEP) da Escola de Enfermagem da USP, cujo endereço é Av. Dr. Enéas de Carvalho Aguiar, 419, Cerqueira Cesar, São Paulo (SP), CEP: 05403-000, telefone: (11)3061-8858, e-mail: cepee@usp.br.</p>
                                                                                    
                                        </div>
                                    </div>


                                    <div class="modal-body">

                                        <form name="form1">


                                            <p>
                                                
                                                Fui informado de todos os detalhes relacionados ao estudo ao qual serei submetido. 
                                                Receberei uma via online deste Termo de Consentimento Livre e Esclarecido.<br>
                                                <input type="checkbox" name="habi" id="habi" onClick="HabiDsabi()"> Aceito participar da pesquisa. 
                                            </p>
                                            <input type="button" class="btn btn-terciary" name="envia" id="envia"
                                                value="Assinar" onClick="assinar()" disabled>
                                        </form>
                                        <!-- fim do botão -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  


    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

   
    <!-- Main JS file -->
    <script src="/src/scripts/transition1.js"></script>

    <script src="/src/scripts/termsApproval.js"></script>

</body>

</html>

<!--
    https://www.youtube.com/watch?v=H91DhKPjhPk
    https://github.com/Rocketseat/youtube-masterclass-responsividade
-->