<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/6644logoFinal.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/main.css">


    <title>e-Nursing - E-learning para profissionais da saúde</title>
</head>

<body>

                <div id="hero-page">

                    <div class="parallax">

                        <h1>
                            Nosso objetivo é levar conhecimento quanto à abordagem de pessoas com agitação psicomotora
                            com comportamento agressivo.
                        </h1>
                    </div>
                </div>

                <div id="autor-objetivo">
                    <ul>
                        <li>
                            <h2>Amanda Menon</h2>
                            <h4>Autora </h4>
                            <img src="/public/assets/amanda2svg.svg"  class="autor1" alt="Amanda Menon" 
                                style="border-radius: 50%;">
                            <div class="autor">

                                <p>
                                    Psicóloga. Mestranda da Universidade de São Paulo. Pós Graduada em Excelência e
                                    Qualidade Operacional Green Belt. Especialista em Impactos da Violência na Saúde e
                                    Saúde Pública com foco na Estratégia Saúde da Família. Atualmente, coordenadora do
                                    Centro de Atenção Psicossocial e Residências Terapêuticas no município de São Paulo
                                    com parceria entre Secretaria Municipal de Saúde e Sociedade Beneficente Israelita
                                    Brasileira Albert Einstein. Docente da faculdade de medicina e curso técnico de
                                    enfermagem pela mesma Instituição.
                                </p>
                            </div>
                        </li>
                        <li>
                            <h2>Maria do Perpétuo Socorro de Sousa Nóbrega</h2>
                            <h4>Autora </h4>
                            <img src="/public/assets/autora_mariasvg.svg" alt="Maria" width="30%"
                                style="border-radius: 50%;">
                            <div class="autor">
                                <p>
                                    Docente do Departamento de Enfermagem Materno-Infantil e Psiquiátrica da Escola de Enfermagem
                                    da Universidade de São Paulo. Concluiu Graduação em Enfermagem pela Universidade Federal da Paraíba (1992),
                                    Especialização em Enfermagem Saúde Mental e Psiquiátrica (1995); Mestrado (2001) e Doutorado (2007)
                                    pela Universidade Federal de São Paulo/UNIFESP. Possui pós-doutorado (2010) na área de Adições pelo
                                    Centre for Addiction and Mental Health (CAMH) - Canadá. 
                                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4718161Y6" target="_blank">Lattes</a>
                                
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="objetivo">
                    
                    <img src="/public/assets/target.svg" alt="" class="alvo">
                    <h2>
                        Objetivo do site
                    </h2>
                    <p>
                        Este website é baseado em evidência cientifica com objetivo de apoiar o técnico de enfermagem,
                        como um meio de consulta rápida, que reduza os erros e esforços diante de situações de pessoas
                        com agitação psicomotora com comportamento agressivo. Idealiza-se assim, que este recurso
                        incentive as abordagens humanizadas e seguras no cuidado em saúde mental.
                    </p>
                </div>

                <div id="conceito">
                            <h2 style="text-align: center;">
                                Conceito
                            </h2>

                           
                              
                            <div class="conceito">
                                <img src="/public/assets/Marcos.svg" class="medium">
                                <div class="texto-conceito">
                                <p>
                                    Pinto (2014) reforça que as características da agitação psicomotora envolvem
                                    atividade motora e/ou verbal aumentado/ impropria e repetitiva, inquietude,
                                    irritação, hostilidade, excitação ao responder estímulos. Pode evoluir de
                                    comportamentos hostis até agressividade (Jacintho, Stella, Laurito, 2012).</p> 
                                    
                                    <p>Pode ou não ter comportamento agressivo, este identificado como ato intencional dirigido a
                                    objetos e/ou pessoas que cause danos mentais e/ou físicos por meio de manifestações
                                    agressivas verbais e físicas. O comportamento agressivo é multicausal, interagindo
                                    fatores biológicos, sociais e psiquiátricos (Pinto, 2014).</p>
                                    <p class="pfinal">De acordo com Mantovani et al (2010) a agitação psicomotora com agressividade são
                                    manifestações psicopatológicas complexas, podem fazer parte de diversas condições
                                    clínicas. não sendo uma singularidade de transtorno mental específico, por isso
                                    envolve uma avaliação ampliada;</p>
                                </div>
                                </div>
                </div>
                        
                <div id="tabela">

                            <h2>
                                Para auxiliar na identificação de preditores de comportamentos agressivos
                                disponibilizamos a tabela a seguir para apoio na avaliação:
                            </h2>
                            
                            <div class="preditores">
                                <img src="/public/assets/Medico.svg" class="medico">
                                

                                <img src="/public/assets/tabela.svg" class="tabela"
                                    alt="TabelaPrediletoresDeComportamentoViolentoParaAdultos">
                            </div>
                </div>
                
                <div id="fatoresRelevantes">
                
                            <h2 style="text-align: center;">
                                Fatores relevantes para a ocorrência de comportamentos agitados, agressivos e violência
                            </h2>
                            
                <div class="fatoresRelevantes">
                               
                                
                            <div class="block">
                                <img src="/public/assets/connections.svg">
                                   <h3><strong>Psicológicos</strong></h3> <p>Baixa tolerância à frustração, baixa auto-estima,
                                        tendência a projeções e externalizações, raiva, irritabilidade;</p>
                            </div>    
                                    
                            <div class="block">
                                <img src="/public/assets/layers.svg">
                            <h3><strong>Sintomas clínicos</strong></h3><p>Alucinações auditivas de comando,
                                        crenças paranoides, delírios persecutórios, pensamentos auto-referentes,
                                        pobre controle de impulsos, autocrítica limitada, baixa adesão ao tratamento. Intoxicação por álcool e outras drogas e abstinência;
                            </p>
                            </div>
                        
                            <div class="block">
                                <img src="/public/assets/edit.svg">
                            <h3><strong>História Prévia</strong></h3><p>Comportamento agressivo ou violento;</p>
                            </div>
                </div>
                </div>
                
                <div id="outrosSintomas">
                                
                                <h3>
                                    O manejo, de pessoas com agitação psicomotora e agressividade, deve ser dividido em
                                    etapas:
                                </h3>
                                <div class="outroSistemaManejo">
                                <img src="/public/assets/Roger.svg" class="roger">
                                <ul class="manejo">
                               
                                    <li>
                                        <strong>Manejo ambiental:</strong><br>Intervenções ambientais visam aumentar a segurança do
                                        paciente e da equipe, ajudar o paciente a controlar seus impulsos agressivos e
                                        evitar progressão do comportamento agressivo.
                                    </li>
                                    <li>
                                        <strong>Manejo comportamental e atitudinal:</strong><br>Atitudes e comportamentos do profissional,
                                        podem contribuir significativamente na abordagem de pessoas agitadas e
                                        agressivas.
                                    </li>
                                    <li>
                                        <strong>Manejo farmacológico:</strong><br>Utilização de medicações para tranquilizar o paciente o
                                        mais rápido possível.
                                    </li>
                                    <li>
                                        <strong>Manejo Físico/ mecânico:</strong><br>Último recurso utilizado. Seu uso restringe-se às
                                        situações onde os demais manejos anteriores falharam e há risco eminente de
                                        heteroagressividade e auto agressividade.
                                    </li>

                                </ul> 
                            </div>
                            </div>                          
                
                
                   
                <div id="mainTerms">
                    <div class="mainTerms">   
                    <h2>
                            Para maiores informações do manejo ambiental e comportamental, assista o videio abaixo:
                        </h2>
                        <h4>
                            O manejo farmacológico e mecânico não serão abordados neste website
                        </h4>

                        <img src="/public/assets/para_o_video.svg" alt="veja o video" class="para_o_video">
                        <div class="buttonFinal2">
                            <a href="#popup1" class="myButton2">Quero ver o tutorial</a>
                        </div>
                    </div>
                </div>    

                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>Leia com atenção e aceite os termos para ter acesso ao tutorial</h2>
                            <a class="close" href="#">&times;</a>
                            <div id="popmake-wrap">
                                <div class="pum-content popmake-content">
                                    <h1>
                                        
                                        Termo de Consentimento Livre e Esclarecido (TCLE).</h1>
                                    <div class="scrollwrap">
                                        <div class="popupscroll">
                                            <p>Convido o(a) Sr(a) para participar da pesquisa “Website informativo para
                                                abordagem de pessoas com agitação psicomotora com comportamento
                                                agressivo para técnico de enfermagem” desenvolvida pela mestranda Amanda
                                                Menon Pelissoni, sob a supervisão da Profa. Dra. Maria do Perpétuo
                                                S.S.Nóbrega. O objetivo é desenvolver um website informativo sobre
                                                abordagem de pessoas com agitação psicomotora com comportamento
                                                agressivo para técnicos de enfermagem, avaliar a usabilidade, linguagem,
                                                orientação, informação, estrutura (design), e comunicação do website
                                                informativo.</p>

                                            <p>Sua participação implica em responder um questionario com perguntas
                                                avaliatavas sobre o website, com tempo estimado de 40 minutos. O Sr(a)
                                                poderá sentir-se desconfortável durante a avaliação, uma vez que esta
                                                consta de 33 questões . Caso sinta-se cansada durante esse processo,
                                                sugere-se que alterne a avalição para que a mesma possa ser conduzida
                                                com tranquilidade. Os dados coletados serão confidenciais e de uso
                                                apenas da pesquisadora, portanto em nenhum momento o Sr(a) será
                                                identificado, garantindo sua privacidade.</p>
                                            <p>O Sr(a) também tem total liberdade para retirar seu consentimento em
                                                qualquer momento da pesquisa sem qualquer prejuízo. Não existem custos
                                                com a sua participação nem benefícios financeiros, no entanto, caso você
                                                tenha algum gasto, haverá ressarcimento e se ocorrerem danos
                                                comprovadamente relacionados à pesquisa, você poderá solicitar
                                                indenização.</p>
                                            <p>Em qualquer etapa da pesquisa o Sr(a) terá contato com a pesquisadora
                                                responsável pela pesquisa: Amanda Menon Pelissoni: Escola de Enfermagem
                                                da Universidade de São Paulo, Av. Dr. Enéas de Carvalho Aguiar, 419,
                                                Cerqueira César. CEP: 05.403-000. Telefone (11)98312-3059, e-mail:
                                                amanda.pelissoni@gmail.com. Caso tenha alguma dúvida sobre seus direitos
                                                como participante da pesquisa, entre em contato com o Comitê de Ética em
                                                Pesquisa (CEP) da Escola de Enfermagem da USP, cujo endereço é Av. Dr.
                                                Enéas de Carvalho Aguiar, 419, Cerqueira Cesar, São Paulo (SP), CEP:
                                                05403-000, telefone: (11)3061-8858, e-mail: cepee@usp.br. Caso você
                                                tenha entendido as informações e concorde em participar, por favor,
                                                assine/rubrique todas as páginas deste Termo Termo de Consentimento
                                                Livre e Esclarecido, guarde uma via com você assinada pela pesquisadora
                                                e devolva a outra para a mesma digitalizada via email.</p>
                                        </div>
                                    </div>


                                    <div class="modal-body">

                                        <form name="form1">


                                            <p>
                                                <input type="checkbox" name="habi" id="habi" onClick="HabiDsabi()"> Eu
                                                li e aceito os termos de uso.
                                            </p>
                                            <input type="button" class="btn btn-terciary" name="envia" id="envia"
                                                value="Assinar" onClick="assinar()" disabled>
                                        </form>
                                        <!-- fim do botão -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  


    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

   
    <!-- Main JS file -->
    <script src="/src/scripts/transition1.js"></script>

    <script src="/src/scripts/termsApproval.js"></script>

</body>

</html>

<!--
    https://www.youtube.com/watch?v=H91DhKPjhPk
    https://github.com/Rocketseat/youtube-masterclass-responsividade
-->