<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/main.css">
   

    <title>e-Nursing - E-learning para profissionais da saúde</title>
</head>
<body>"

    <div class="loading-container">
        <div class="loading-screen">
        </div>
      </div>

      <div data-barba="wrapper">
        <!-- Only this section changes on link navigation -->
        <main data-barba="container" data-barba-namespace="about">
          <div class="heading-container">
            <div id="hero-page">
        
                <div class = "parallax">
                   
                    <h1>
                        Nosso objetivo é levar conhecimento quanto ao tratamento de pacientes com distúrbios psicomotores. 
                    </h1>
                </div>
            </div>
           
           <div id="autor-objetivo">
                <ul>
                        <li>
                            <h2>Autora</h2>
                            <img src="/public/assets/Autora.jpg" alt="Amanda Menon" width="30%" style="border-radius: 50%;">
                            <div class="autor">
                                
                                <p>
                                    Mestranda da Universidade de São Paulo. 
                                    Pós Graduada em Excelência e Qualidade Operacional Green Belt (2016)
                                    - Instituto de Ensino e Pesquisa Hospital Israelita Albert, 
                                    Especialista em Impactos da Violência na Saúde (2013) - Fundação Oswaldo Cruz.
                                    Especialista em Saúde Pública com foco na Estratégia Saúde da Família (2010)
                                    - Faculdade São Camilo. Especialista em Psicologia Hospitalar (2008) - 
                                    Instituto de Ensino e Pesquisa Hospital Israelita. Albert Einstein.
                                    Graduada em Psicologia pela Pontifícia Universidade Católica de Campinas (2006).
                                    Atualmente, trabalha como coordenadora de CAPS no município de São Paulo, 
                                    pela parceria entre Secretaria Municipal de Saúde e Sociedade Beneficente 
                                    Israelita Brasileira Albert Einstein. Docente da  faculdade de medicina  e 
                                    curso técnico de enfermagem pela mesma Instituição. Atuou como apoio técnico com 
                                    atribuições de ensino, gestão e educação permanente no contexto da Atenção Primária 
                                    à Saúde, Estratégia Saúde da Família e Saúde Mental para colaboradores da mesma 
                                    Instituição. Docente no Centro Universitário Anhanguera Brigadeiro e Vila Mariana,
                                    sendo responsável em ministrar disciplinas Saúde Mental, Politicas Públicas,
                                    Psicologia Hospitalar, Saúde da Família e Saúde Coletiva por 4 anos.  
                                </p>
                            </div>
                        </li>
                        <li>
                            <h2>
                                Objetivo
                            </h2>
                            <img src="/public/assets/target.svg" alt="target" width="30%" style="border-radius: 50%;">
                            <div class="autor">
                                
                                <p>
                                    Este website tem destina-se a profissionais técnico de enfermagem com o objetivo 
                                    contribuir para atuações humanizadas e pautadas em evidências científicas em situações 
                                    de abordagem de pessoas com agitação psicomotora com comportamentos agressivos, 
                                    com vistas a minimizar práticas inadequadas, inseguras para com esta população. 
                                </p>
                            </div>
                        </li>
                </ul>
            </div>
            
            <div class="conceito">
           
                                
                                <ul>
                                    <li>
                                        <h2 style="text-align: center;">
                                            Conceito
                                        </h2>
                                        
                                        <div class="content">
                                        <img src="/public/assets/Marcos.png" class="medium">   
                                        <p><strong>A agitação psicomotora: </strong>é caracterizada por inquietação, 
                                        aumento da excitabilidade psíquica, resposta exacerbada aos estímulos, 
                                        irritabilidade, atividade motora e verbal aumentadas, inadequadas e repetitivas. 
                                        Geralmente marcada pela ausência de autocritica do usuário sobre seu estado. 
                                        Frequentemente associada à insônia, logorréia e hostilidade;</p>
                                        
                                        <p><strong>Agressividade: </strong>é definida como ato intencional ou não que pode
                                        causar ou causa dano físico ou psicológico ou sexual em outra pessoa 
                                        (Hetero-agressividade ou comportamento hetero-lesivo), ou ato intencional que pode 
                                        causar ou causa dano físico a si próprio (Auto-agressividade ou comportamento 
                                        auto-lesivo);</p>
                                        
                                        <p><strong>Violência:</strong>é definida como ato agressivo que cause ou tem potencial 
                                        para causar dano físico, psicológico ou sexual em terceiros ou a si próprio. 
                                        Definida também, como força física, abuso, forma de anulação, ou constrangimento 
                                        sobre uma pessoa para obrigá-la a fazer ou deixar de fazer um ato qualquer. 
                                        Pode estar associada tanto à agressividade verbal, ou física.</p>
                                    </div>
                                    </li>
                                    <li>
                                        <h2 style="text-align: center;">
                                            Identificação de preditores de comportamentos violentos
                                        </h2>
                                        <div class="content">
                                            <img src="/public/assets/Médico.png" class="medium">
                                            <h3>
                                            Para auxiliar na identificação de preditores de comportamentos violentos disponibilizamos 
                                            a tabela a seguir para apoio na avaliação:
                                        </h3>
                                
                                        <img src="/public/assets/tabela.png" class="tabela" alt="TabelaPrediletoresDeComportamentoViolentoParaAdultos" width="40%">
                                    </div>
                                    </li>
                                    <li>
                                        <h2 style="text-align: center;">
                                            Fatores relevantes para a ocorrência de comportamentos agitados, agressivos e violência
                                        </h2>
                                        <div class="content">
                                            <img src="/public/assets/Roger.png" class="medium">
                                                <div class="fatosRelevantes">
                                                <p><strong>Psicológicos:</strong> Baixa tolerância à frustração, baixa auto-estima, 
                                                tendência a projeções e externalizações, raiva, irritabilidade;</p>
                                                <p><strong>Sintomas clínicos:</strong> Alucinações auditivas de comando, 
                                                crenças paranoides, delírios persecutórios, pensamentos auto-referentes, 
                                                pobre controle de impulsos, autocrítica limitada, baixa adesão ao tratamento;</p>
                                                <p><strong>História Prévia: </strong> Comportamento agressivo ou violento;</p>                                
                                                </div>
                                                
                                        </div>
                                    
                                    </li>
                                </ul>
            
        
               <div class="mainTerms">
                   <h2>
                       Veja o tutorial de pronto atendimento
                   </h2>
                   <h3>
                    Aprenda como previnir acidentes no atendimento a pacientes agressivos
                   </h3>

                   <img src="/public/assets/para_o_video.png" alt="veja o video" class="para_o_video">
                   <div class="buttonFinal">
                    <a href="#popup1" class="myButton">Quero ver o tutorial</a>
                  </div>                   
                </div>
                 
                  <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Leia com atenção e aceite os termos para ter acesso ao tutorial</h2>
                        <a class="close" href="#">&times;</a>
                        <div id="popmake-wrap"><div class="pum-content popmake-content">
                            <h1 style="text-align: center; max-width: 400px; margin-right: auto; margin-left: auto; font-size: 1rem;">Termo de Consentimento Livre e Esclarecido (TCLE).</h1>
                            <div class="scrollwrap">
                                <div class="popupscroll">
                                    <p>Convido o(a) Sr(a) para participar da pesquisa “Website informativo para abordagem de pessoas com agitação psicomotora com comportamento agressivo para técnico de enfermagem” desenvolvida pela mestranda Amanda Menon Pelissoni, sob a supervisão da Profa. Dra. Maria do Perpétuo S.S.Nóbrega. O objetivo é desenvolver um website informativo sobre abordagem de pessoas com agitação psicomotora com comportamento agressivo para técnicos de enfermagem, avaliar a usabilidade, linguagem, orientação, informação, estrutura (design), e comunicação do website informativo.</p> 	
                                    
                                    <p>Sua participação implica em responder um questionario com perguntas avaliatavas sobre o website, com tempo estimado  de 40 minutos. O Sr(a) poderá sentir-se desconfortável durante a avaliação, uma vez que esta consta de 33 questões . Caso sinta-se cansada durante esse processo, sugere-se que alterne a avalição para que a mesma possa ser conduzida com tranquilidade. Os dados coletados serão confidenciais e de uso apenas da pesquisadora, portanto em nenhum momento o Sr(a)  será identificado, garantindo sua privacidade.</p> 
                                    <p>O Sr(a)  também tem total liberdade para retirar seu consentimento em qualquer momento da pesquisa sem qualquer prejuízo. Não existem custos com a sua participação nem benefícios financeiros, no entanto, caso você tenha algum gasto, haverá ressarcimento e se ocorrerem danos comprovadamente relacionados à pesquisa, você poderá solicitar indenização.</p> 
                                    <p>Em qualquer etapa da pesquisa o Sr(a) terá contato com a pesquisadora responsável pela pesquisa: Amanda Menon Pelissoni: Escola de Enfermagem da Universidade de São Paulo, Av. Dr. Enéas de Carvalho Aguiar, 419, Cerqueira César. CEP: 05.403-000. Telefone (11)98312-3059, e-mail: amanda.pelissoni@gmail.com. Caso tenha alguma dúvida sobre seus direitos como participante da pesquisa, entre em contato com o Comitê de Ética em Pesquisa (CEP) da Escola de Enfermagem da USP, cujo endereço é Av. Dr. Enéas de Carvalho Aguiar, 419, Cerqueira Cesar, São Paulo (SP), CEP: 05403-000, telefone: (11)3061-8858, e-mail: cepee@usp.br. Caso você tenha entendido as informações e concorde em participar, por favor, assine/rubrique todas as páginas deste Termo Termo de Consentimento Livre e Esclarecido, guarde uma via com você assinada pela pesquisadora e devolva a outra para a mesma digitalizada via email.</p>
                                </div>
                            </div>
                            
                                         
                        <div class="modal-body">
                    
                            <form name="form1">
                            
                            
                            <p>
                                <input type="checkbox" name="habi" id="habi" onClick="HabiDsabi()"> Eu li e aceito os termos de uso.
                              </p>
                             <input type="button" class="btn btn-terciary"  name="envia" id="envia" value="Assinar" onClick="assinar()" disabled></form>
                            <!-- fim do botão -->
                            </div>
                    </div>
                </div>
            
                
            </div>
        </main>
      </div>


    
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- Barba Core -->
  <script src="https://unpkg.com/@barba/core"></script>

  <!-- GSAP for animation -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

  <!-- Some basic helper functions -->
  <script src="/src/scripts/transition1.js"></script>

  <!-- Main JS file -->
  <script src="/src/scripts/transition1.js"></script>

  <script src="/src/scripts/termsApproval.js"></script>

</body>
</html>