<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/contentAutor.css">
    <link rel="stylesheet" href="/public/styles/conceito.css">

    <title>e-Nursing - E-learning para profissionais da saúde</title>
</head>
<body>"
    <div id="hero-page">
        
        <div class = "parallax">
            <img src="/public/assets/logofinalsemfundo.png" alt="logo">
            <h1>
                Nosso objetivo é levar conhecimento quanto ao tratamento de pacientes com distúrbios psicomotores. 
            </h1>
        </div>
    </div>
   
   <div id="autor-objetivo">
        <ul>
                <li>
                    <h2>Autora</h2>
                    <img src="/public/assets/Autora.jpg" alt="Amanda Menon" width="30%" style="border-radius: 50%;">
                    <div class="autor">
                        
                        <p>
                            Mestranda da Universidade de São Paulo. 
                            Pós Graduada em Excelência e Qualidade Operacional Green Belt (2016)
                            - Instituto de Ensino e Pesquisa Hospital Israelita Albert, 
                            Especialista em Impactos da Violência na Saúde (2013) - Fundação Oswaldo Cruz.
                            Especialista em Saúde Pública com foco na Estratégia Saúde da Família (2010)
                            - Faculdade São Camilo. Especialista em Psicologia Hospitalar (2008) - 
                            Instituto de Ensino e Pesquisa Hospital Israelita. Albert Einstein.
                            Graduada em Psicologia pela Pontifícia Universidade Católica de Campinas (2006).
                            Atualmente, trabalha como coordenadora de CAPS no município de São Paulo, 
                            pela parceria entre Secretaria Municipal de Saúde e Sociedade Beneficente 
                            Israelita Brasileira Albert Einstein. Docente da  faculdade de medicina  e 
                            curso técnico de enfermagem pela mesma Instituição. Atuou como apoio técnico com 
                            atribuições de ensino, gestão e educação permanente no contexto da Atenção Primária 
                            à Saúde, Estratégia Saúde da Família e Saúde Mental para colaboradores da mesma 
                            Instituição. Docente no Centro Universitário Anhanguera Brigadeiro e Vila Mariana,
                            sendo responsável em ministrar disciplinas Saúde Mental, Politicas Públicas,
                            Psicologia Hospitalar, Saúde da Família e Saúde Coletiva por 4 anos.  
                        </p>
                    </div>
                </li>
                <li>
                    <h2>
                        Objetivo
                    </h2>
                    <img src="/public/assets/target.svg" alt="target" width="30%" style="border-radius: 50%;">
                    <div class="autor">
                        
                        <p>
                            Este website tem destina-se a profissionais técnico de enfermagem com o objetivo 
                            contribuir para atuações humanizadas e pautadas em evidências científicas em situações 
                            de abordagem de pessoas com agitação psicomotora com comportamentos agressivos, 
                            com vistas a minimizar práticas inadequadas, inseguras para com esta população. 
                        </p>
                    </div>
                </li>
        </ul>
    </div>
    
    <div class="conceito">
   
                        
                        <ul>
                            <li>
                                <h2 style="text-align: center;">
                                    Conceito
                                </h2>
                                <div class="content">
                                   
                                <strong>A agitação psicomotora: </strong>é caracterizada por inquietação, 
                                aumento da excitabilidade psíquica, resposta exacerbada aos estímulos, 
                                irritabilidade, atividade motora e verbal aumentadas, inadequadas e repetitivas. 
                                Geralmente marcada pela ausência de autocritica do usuário sobre seu estado. 
                                Frequentemente associada à insônia, logorréia e hostilidade;<br>
                                
                                <strong>Agressividade: </strong>é definida como ato intencional ou não que pode
                                causar ou causa dano físico ou psicológico ou sexual em outra pessoa 
                                (Hetero-agressividade ou comportamento hetero-lesivo), ou ato intencional que pode 
                                causar ou causa dano físico a si próprio (Auto-agressividade ou comportamento 
                                auto-lesivo);<br>
                                
                                <strong>Violência:</strong>é definida como ato agressivo que cause ou tem potencial 
                                para causar dano físico, psicológico ou sexual em terceiros ou a si próprio. 
                                Definida também, como força física, abuso, forma de anulação, ou constrangimento 
                                sobre uma pessoa para obrigá-la a fazer ou deixar de fazer um ato qualquer. 
                                Pode estar associada tanto à agressividade verbal, ou física.<br>
                            </div>
                            </li>
                            <li>
                                <h2 style="text-align: center;">
                                    Tabela
                                </h2>
                                <div class="content">
                                <h3>
                                    Para auxiliar na identificação de preditores de comportamentos violentos disponibilizamos 
                                    a tabela a seguir para apoio na avaliação:
                                </h3>
                        
                                <img src="/public/assets/tabela.png" alt="TabelaPrediletoresDeComportamentoViolentoParaAdultos" width="75%">
                            </div>
                            </li>
                            <li>
                                <h2 style="text-align: center;">
                                    Fatores relevantes para a ocorrência de comportamentos agitados, agressivos e violência
                                </h2>
                                <div class="content">
                                   
                                        <strong>Psicológicos:</strong> Baixa tolerância à frustração, baixa auto-estima, 
                                        tendência a projeções e externalizações, raiva, irritabilidade;<br>
                                        <strong>Sintomas clínicos:</strong> Alucinações auditivas de comando, 
                                        crenças paranoides, delírios persecutórios, pensamentos auto-referentes, 
                                        pobre controle de impulsos, autocrítica limitada, baixa adesão ao tratamento;<br>
                                        <strong>História Prévia: </strong> Comportamento agressivo ou violento;                                
                                </div>
                            
                            </li>
                        </ul>
    

       


        <h1>Veja o video até o final, complete o questionário e aprenda ainda mais</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mRnkSDEQm4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>