<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/teste.css">
</head>
<body>
    
    
  
        <ul>
            <li>
                <div class="content">
                    <h2>What is lorem ipsum</h2>
                    <p><strong>A agitação psicomotora: </strong>é caracterizada por inquietação, 
                        aumento da excitabilidade psíquica, resposta exacerbada aos estímulos, 
                        irritabilidade, atividade motora e verbal aumentadas, inadequadas e repetitivas. 
                        Geralmente marcada pela ausência de autocritica do usuário sobre seu estado. 
                        Frequentemente associada à insônia, logorréia e hostilidade;</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>What is lorem ipsum</h2>
                    <p><strong>Agressividade: </strong>é definida como ato intencional ou não que pode
                        causar ou causa dano físico ou psicológico ou sexual em outra pessoa 
                        (Hetero-agressividade ou comportamento hetero-lesivo), ou ato intencional que pode 
                        causar ou causa dano físico a si próprio (Auto-agressividade ou comportamento 
                        auto-lesivo);</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>What is lorem ipsum</h2>
                    <p> <strong>Violência:</strong>é definida como ato agressivo que cause ou tem potencial 
                        para causar dano físico, psicológico ou sexual em terceiros ou a si próprio. 
                        Definida também, como força física, abuso, forma de anulação, ou constrangimento 
                        sobre uma pessoa para obrigá-la a fazer ou deixar de fazer um ato qualquer. 
                        Pode estar associada tanto à agressividade verbal, ou física.</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>What is lorem ipsum</h2>
                    <p>jgskjgashgdsgadhgashdhwnwbfhwdhew</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>What is lorem ipsum</h2>
                    <p>jgskjgashgdsgadhgashdhwnwbfhwdhew</p>
                </div>
            </li>
        </ul>
    
</body>
</html>