<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <title>e-Nursing - Tutorial</title>
</head>
<body>
    <div id="videoMain">
    <header>
        <img src="/public/assets/logoFinal.png" alt="logo">
        <h1>e-Nursing</h1>
        <a href="/index.html" target="_blank">
            Voltar para a Home
        </a>
    </header>
<div class="video">
    <iframe 
        width="560" height="315" 
        src="https://www.youtube.com/embed/a5Sn6iazyMw" 
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>

</div>
<div class="formulario">
    <div>
        <h2>
            Agora, faça uma avaliação sobre tudo o que viu até aqui.
        </h2>
        <p>
            O seu feedback é realmente importante para que possamos aprimorar o conteúdo
        </p>
        <p>
            Se precisar retornar ao site, basta clicar no botão ao lado e uma nova aba será aberta. Assim você poderá consultá-lo enquanto responde o nosso questionário.
        </p>
    </div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScVfclulSgcNfS5mh0jggrkif-hrpO9AWLyz5suK1AkZZmYjg/viewform?embedded=true" width="700" height="800" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
</div>

</body>
</html>
