<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/typeEffect.css">
    <title>type</title>
</head>
<body>
    <div class="container">
        <h1>RPC the
        <span class="txt-type" data-wait="3000" data-words='["Developer", "Designer", "Creator"]'></span>
        </h1>
            <h2>Welcome here</h2>
    </div>

    <script src="/src/scripts/main.js"></script>
</body>
</html>